/* General */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
	max-width: 1500px;
	margin: 0 auto;
}

/* Header */

nav {
    background-color: blueviolet;
}

.header2 {
    background-color: rgb(34, 34, 179);
    min-height: 600px;
}

/* Header nav */

.flex-container {
    display: flex;
}

.flex-container.header-nav {
    min-height: 100px;
    align-items: center;
}

.logo {
    height: 40px;
    border: 2px dashed red;
    flex-basis: 20%;
    background-color: cadetblue;

}

.link {
    height: 40px;
    border: 2px dashed red;
    flex-basis: 60%;
    background-color: cadetblue;

}

.login {
    height: 40px;
    border: 2px dashed red;
    flex-basis: 20%;
    background-color: cadetblue;
}

/* Header Introduction */

.flex-container.header-introduction {
    align-items: center;
    height: 600px;
    
}

.header-copy {
    background-color: pink;
    height: 500px;
    flex-basis: 100%;
}

/* Main */