/* General */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
	max-width: 1500px;
	margin: 0 auto;
}

/* Header */

nav {
    background-color: blueviolet;
}

.header2 {
    background-color: rgb(34, 34, 179);
    min-height: 550px;
}

/* Header nav */

.flex-container {
    display: flex;
}

.flex-container.header-nav {
    min-height: 100px;
    align-items: center;
}

.logo {
    height: 50px;
    border: 2px dashed red;
    flex-basis: 20%;
    background-color: cadetblue;

}

.link {
    height: 50px;
    border: 2px dashed red;
    flex-basis: 60%;
    background-color: cadetblue;

}

.login {
    height: 50px;
    border: 2px dashed red;
    flex-basis: 20%;
    background-color: cadetblue;
}

/* Header Introduction */

.flex-container.header-introduction {
    align-items: center;
    height: 550px;
    
}

.header-copy {
    background-color: pink;
    height: 500px;
    flex-basis: 100%;
}

/* Main */

/* Flexibility section */

.img-copy {
    height: 600px;
}

.flex-container.img-copy {
    align-items: center;
}

.img-flexibility {
    background-color: aqua;
    flex-basis: 60%;
    height: 550px;
}

.copy-flexibility {
    background-color: pink;
    flex-basis: 40%;
    height: 550px;
}

/* Accessibility section */

.accessibility {
    background-color: lightgray;
}

.copy-img {
    height: 600px;
}

.flex-container.copy-img {
    align-items: center;
}

.img-accessibility {
    background-color: aqua;
    flex-basis: 60%;
    height: 550px;
}

.copy-accessibility {
    background-color: pink;
    flex-basis: 40%;
    height: 550px;
}

/* Community section */

.img-copy {
    min-height: 600px;
}

.flex-container.img-copy {
    align-items: center;
}

.img-community {
    background-color: aqua;
    flex-basis: 60%;
    height: 550px;
}

.copy-community {
    background-color: pink;
    flex-basis: 40%;
    height: 550px;
}

/* Affidability section */
 
.affidability {
    background-color: lightgray;
    min-height: 600px;
}

.copy-img-cta {
    height: 600px;
}

.flex-container.copy-img-cta {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.copy-affidability {
    background-color: red;
    width: 1000px;
    flex-basis: 20%;
}

.img-affidability {
    background-color: orange;
    width: 1000px;
    flex-basis: 60%;
}

.cta-affidability {
    background-color: yellow;
    width: 1000px;
    flex-basis: 20%;
}