/* General */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:not(body, .container, header, main, footer, .flex-container ) {
    border: 2px dashed red;
}

.container {
	max-width: 1500px;
	margin: 0 auto;
}

/* Header */

.header1 {
    background-color: blueviolet;
}

.header2 {
    background-color: rgb(34, 34, 179);
    min-height: 550px;
}

/* Header nav */

.flex-container {
    display: flex;
}

.flex-container.header-nav {
    min-height: 100px;
    align-items: center;
}

.logo {
    height: 50px;
    flex-basis: 20%;
    background-color: cadetblue;

}

.link {
    height: 50px;
    flex-basis: 60%;
    background-color: cadetblue;

}

.login {
    height: 50px;
    flex-basis: 20%;
    background-color: cadetblue;
}

#link {
    text-align: center;
    padding: 10px;}

#logo {
    text-align: end;
    padding: 10px;
}

/* Header Introduction */

.flex-container.header-introduction {
    align-items: center;
    height: 550px;
}

.header-copy {
    background-color: pink;
    height: 500px;
    flex-basis: 100%;
}

/* Main */

/* Flexibility section */

.img-copy {
    height: 600px;
}

.flex-container.img-copy {
    align-items: center;
}

.img-flexibility {
    background-color: aqua;
    flex-basis: 60%;
    height: 550px;
}

.copy-flexibility {
    background-color: pink;
    flex-basis: 40%;
    height: 550px;
}

/* Accessibility section */

.accessibility {
    background-color: lightgray;
}

.copy-img {
    height: 600px;
}

.flex-container.copy-img {
    align-items: center;
}

.img-accessibility {
    background-color: aqua;
    flex-basis: 60%;
    height: 550px;
}

.copy-accessibility {
    background-color: pink;
    flex-basis: 40%;
    height: 550px;
}

/* Community section */

.img-copy {
    min-height: 600px;
}

.flex-container.img-copy {
    align-items: center;
}

.img-community {
    background-color: aqua;
    flex-basis: 60%;
    height: 550px;
}

.copy-community {
    background-color: pink;
    flex-basis: 40%;
    height: 550px;
}

/* Affidability section */

.affidability {
    background-color: lightgray;
}

.copy-img-cta {
    height: 600px;
}

.flex-container.copy-img-cta {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copy-affidability {
    background-color: red;
    width: 1500px;
    height: calc(120px - (50px / 3));
}

.img-affidability {
    background-color: orange;
    width: 1500px;
    height: calc(360px - (50px / 3));

}

.cta-affidability {
    background-color: yellow;
    width: 1500px;
    height: calc(120px - (50px / 3));

}

/* Footer */

footer {
    background-color: rgb(0, 0, 70);
    min-height: 600px;
}

.flex-container-footer {
    width: 1500px;
}

/* Language */

.flex-container.language-social {
    flex-direction: column;
    justify-content: center;
}

.language-social {
    width: 400px;
    height: 450px;
}

.language {
    background-color: blue;
    flex-basis: 400px;
}

/* General link */

.flex-container.general-link {
    justify-content: center;
    align-items: center;
    width: 1100px;
    align-content: center;
}

.general-link {
    height: 450px;
    width: 1100px
}

.product {
    background-color: lightblue;
    height: 400px;
    width: 25%;
}

.company {
    background-color: rgb(130, 205, 230);
    height: 400px;
    width: 25%;
}

.resources {
    background-color: rgb(111, 200, 230);
    height: 400px;
    width: 25%;
}

.legal {
    background-color: rgb(90, 197, 233);
    height: 400px;
    width: 25%;
}

/* Footer log-up */

.flex-container.footer-logo-logup {
    min-height: 200px;
    justify-content: space-between;
    align-items: center;
}

.logo-logup {
    height: 200px;
    width: 1500px;
}

.footer-logo {
    height: 200px;
    flex-basis: 20%;
    background-color: cadetblue;
}

.footer-logup {
    height: 200px;
    flex-basis: 20%;
    background-color: cadetblue;
}

.spacing {
    padding: 10px;
}

#button {
    text-align: end;
}