/* General */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
	max-width: 1500px;
	margin: 0 auto;
}

/* Header */

nav {
    background-color: blueviolet;
}

.introduction {
    background-color: rgb(34, 34, 179);
    min-height: 600px;
}

/* Header flex nav */

.flex-container {
    min-height: 100px;
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    border: 2px dashed red;
    flex-basis: 20%;
    background-color: cadetblue;

}

.link {
    height: 40px;
    border: 2px dashed red;
    flex-basis: 60%;
    background-color: cadetblue;

}

.login {
    height: 40px;
    border: 2px dashed red;
    flex-basis: 20%;
    background-color: cadetblue;
}

/* Main */